body {
  background: #eaeaea;
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 20px;
  font-size: 18px;
  color: #333;
}

.wrapper {
  overflow: hidden;
  padding: 20px;
  margin: 0 auto 20px auto;
  max-width: 880px;
}

h1 {
  font-family: Lato, sans-serif;
  font-size: 26px;
  text-align: center;
  margin: 20px 0;
  position: relative;
}

h2 {
  font-family: Lato, sans-serif;
  clear: left;
  margin: 10px 0;
}

b, strong {
  font-weight: 600;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.logo {
  text-align: center;
  margin-bottom: 10px;
}

h1 sup {
  font-weight: normal;
  letter-spacing: -1px;
  font-size: 14px;
  position: absolute;
  top: -5px;
  background: #fff;
  padding: 2px;
  border-radius: 4px;
}

.info {
  font-size: 16px;
  margin-right: 10px;
  float: left;
  border: 1px solid #ddd;
  padding: 10px;
  background: #f1f1f1;
}

ul {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

.starters {
  padding: 20px 0;
  margin: 0;
  clear: left;
}

.starters li {
  display: inline-block;
  width: 200px;
  height: 234px;
  margin: 5px;
  float: left;
  background: #fff;
}

.link {
  text-align: center;
  display: table-cell;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  vertical-align: middle;
  height: 200px;
  width: 200px;
  padding: 0 20px;
}

.project-url {
  background: #6060c3;
  color: #fff;
  height: 30px;
  overflow: hidden;
  text-align: center;
  line-height: 30px;
  border-top: 4px solid #000;
}

.project-url a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.forkme {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.center {
  text-align: center;
}

.hidden {
  position: absolute;
  visibility: hidden;
}

label {
  display: block;
  margin: 15px 0 0;
  font-weight: bold;
}
input,
select {
  width: 100%;
  margin: 10px 0;
  clear: both;
  display: block;
  text-align: center;
  border: none;
  padding: 14px;
  font-size: 20px;
}

input[name="name"] {
  float: left;
  width: calc(100% - 310px);
  padding: 22px;
  margin-top: 1px;
  border: none;
  margin-right: 6px;
  border-radius: 3px;
  background: #f9f9f9;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.08);
  height: 74px;
}

.g-recaptcha {
  float: left;
}

select {
  text-align: left;
}

.form {
  padding-bottom: 20px;
}

#submit-button {
  background: #1566b5;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

footer {
  background: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  box-shadow: -1px 0 4px 4px #ccc;
  z-index: 99999;
}

footer p {
  margin: 10px;
}

@media all and (max-width:40.625em) {
  input[name="name"] {
    width: 100%;
  }

  .g-recaptcha {
    clear: both;
  }
}
