body {
  background: #eaeaea;
  font-family: monospace;
}

.wrapper {
  overflow: hidden;
  padding: 20px 80px;
  margin: 0 auto;
  max-width: 1260px;
}

h1 {
  font-size: 26px;
  text-align: center;
  margin: 40px 20px 0;
}

.starters {
  padding: 0;
  margin: 0;
  clear: left;
}

.starters li {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 5px;
  float: left;
  background: #fff;
}

.link {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  line-height: 200px;
}

.info {
  margin: 5px;
  float: left;
  border: 1px solid #c1c0c0;
  padding: 5px;
  background: #fff;
}

footer {
  clear: both;
  overflow: hidden;
  padding-top: 10px;
  border-top: 1px solid #fff;
  text-align: center;
}
